h1{
    color: rgb(9, 11, 136);
    font-size: 100px;
}
h2{
    color: rgb(18, 6, 189);
    font-size: 50px;
}

.img{
background-image: url(../../images/contact/300.gif);
height: 500px;
width: 500px;
background-repeat: no-repeat;
}

.img2{
background-image: url(../../images/tool/400X600.jpg);
height: 400px;
width: 400px;
background-repeat: no-repeat;
}
